/* les boutons */

.btn {
    border-radius: 5px;
    width: 100%;
    position: absolute;
    text-transform: uppercase;
    padding:10px;
    font-weight: 500;
    &-jaune {
        width:150px;
        margin-top:20px;
    }
    &-prices {
        padding:10px;
        border: 1px solid $lightgray;
    }
    &prices:hover {
        border: 1px solid $jaune;
    }
    &-black {
        width:250px;
        margin-top:20px;
        margin-bottom:10px;
        border-radius: 5px;
        text-transform: uppercase;
        padding:10px;
        font-weight: 500;
    }
    &-yellow-prices {
        width:80px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    &-yellow-hotel {
        width:100px;
        padding:10px;
        display: flex;
        justify-content: center;
    }
    &-yellow {
        width:150px;
        margin-top:20px;
        border: 1px solid $jaune;
        border-radius: 5px;
        text-transform: uppercase;
        padding:10px;
        font-weight: 500;
    }
    &-white {
        width:100px;
        margin-top:20px;
        border: 1px solid $lightgray;
        text-transform: uppercase;
        padding:10px;
        font-weight: 500;
    }
    &-white:hover {
        border: 1px solid $jaune;
    }
    &-menu {
        outline: none !important;
        border: none;
        background: transparent;
        cursor: pointer;
        width: 26px;
        height: 15px;
        display: none;
        margin-right:30px;
        @include minitablet {
            display: block;
        }
    }
    &-menu.active {
        display: none;
    }
    &-xmark {
        display: none;
    }
    @include minitablet {
    &-xmark.active {
        outline: none !important;
        border: none;
        background: transparent;
        position: absolute;
        cursor: pointer;
        right:0px;
        width: 26px;
        height: 15px;
        margin-right:30px;
        display: block;
    }
}
}

/* bannière jaune */

.ban-yellow {
    width:100%;
    padding:10px;
    margin:10px 0;
}

