/* colors */

h3,
h1,
.title-home p,
.main-nav a,
.btn-jaune a,
.city p,
.city h4,
.btn-black a,
footer h5,
.email-address i,
.email-address input,
.txt-tags:hover a,
.btn-prices:hover a,
.chemin a,
.chemin i,
.btn-yellow a,
.ban-yellow,
.search-post,
.search-post ::placeholder,
.btn-white:hover a,
.btn-fleche a,
.btn-menu
{
    color: $white;
}

.comment:nth-of-type(1) i:not(:last-child),
.comment:nth-of-type(2) i:not(:nth-last-child(-n+2)),
.swiper i:nth-of-type(1),
span,
.copyright i,
h5 a:hover,
.link-right a:hover,
.issue-block:hover a,
.main-nav a:hover,
.comment:hover h5,
.foot-liens a:hover,
.title-hotel i:not(:last-child),
.contact-info i,
.btn-yellow:hover a,
.categorie > *:hover,
.info-content a:hover,
.gray-blog .link-right a:hover,
.post-cat a:hover div {
    color: $jaune;
}

.swiper i:not(:nth-of-type(1)) {
    color: $opacityjaune;
}

.date-articles,
h5 a,
.txt-tags a,
.btn-yellow-prices a,
.btn-prices a,
.btn-yellow-hotel a,
.gray-blog .link-right a,
.btn-white a,
.article-content a {
    color: $lightblack;
}

footer p,
footer a,
.contact-info > * div:nth-of-type(2),
.info-content a,
.la-cat div,
.popular-post-col div,
.newsletter i:nth-of-type(1) {
    color:$darkgray;
}


/*background color*/

::selection,
.btn-jaune,
.email-address i,
.txt-tags:hover,
.btn-yellow-prices,
.btn-prices:hover,
.btn-yellow-hotel,
.btn-yellow,
.ban-yellow,
.search-post,
.btn-white:hover
 {
    background-color: $jaune;
}

.packages,
.comment,
.my-hotel,
.btn-yellow:hover,
.p-white,
.btn-white {
    background-color: $white;
}

.btn-prices,
.testimonial,
.dest-popular,
.gray-contact,
.gray-blog {
    background-color: $gray;
}

footer, 
.email-address input {
    background: $bleu ;
}

.btn-black,
.btn-jaune:hover {
    background-color: $lightblack;
}

.nav-menu {
    background-color: $overlay;
}

.black-sidebar {
    background-color: $black;
}

.search-post input {
    background-color: transparent;
}