.formulaire {
    display: grid;
    input {
        border: 1px solid $darkgray;
        outline: none !important;
        overflow: visible;
        height: 50px;
        padding: 16px 15px; 
        margin:10px 0;
        @include responsive {
            width:100%;
        }
    }
    textarea {
        height:100%;
        border: 1px solid $darkgray;
        outline: none !important;
        width:100%;
        padding: 16px 15px; 
        @include responsive {
            height:200px;
        }
    }
}

/* formulaire de la page contact */ 

.formulaire-contact {
    grid-template-columns: 1fr 1fr;
    gap:20px;
    @include responsive {
        grid-template-columns: 1fr;
    }
    .input-left {
        display: flex;
        flex-direction: column;
        width: 350px;
        @include responsive {
            width:100%;
        }
    }
    input:nth-of-type(1) {
        margin-top:0;
    }
    input:last-child {
        margin-bottom:0;
    }
}

/* formulaire du blog */

.formulaire-blog {
    width:100%;
    gap: 10px 20px;
    grid-template-columns: 1fr 1fr;
    @include responsive {
        grid-template-columns: 1fr;
        width:100%;
    }
    .subject {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        @include responsive {
            grid-row: auto;
            grid-column: auto;
        }
    }
    .message {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        @include responsive {
            grid-row: auto;
            grid-column: auto;
        }
    }
} 

/* search post */

.search-post {
    border-radius:15px;
    margin-bottom: 20px;
    input {
        border:none;
        padding: 10px; 
        outline: none;
        @include responsive {
            width: 95%;
        }
    }
}