/* enlever les margins/paddings des titres */

h1,
h2,
h3,
h4,
h5,
p {
    margin:0;
}

/* font-family */

body, input {
    font-family: $poppins;
}

/* les titres */

h1 {
    font-size: 60px;
    margin: 20px 0;
}

h2 {
    margin:20px 0;
    font-size:36px;
}

h3 {
    font-weight: 300;
}

h5 {
    font-size: 18px;
    margin:10px 0;
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
}

span {
    font-weight: 600;
}

.nav-links a {
    font-weight: 500;
}

.btn-prices a,
.btn-yellow-hotel a {
    font-weight: 700;
}

.txt-tags {
    font-size: 12px;
}

.date-articles {
    font-size: 14px;
}

/* text-align */

.btn,
h2,
p,
h5,
.txt-tags,
h4,
.hotel-page h1,
.contact-page h1,
.chemin {
    text-align: center;
}

.title-home p,
.issue-block p,
.txt-test p,
.not-found p,
.txt-test h5,
.not-found h2,
.prev-articles h5,
.prev-articles p,
footer p,
footer h5,
.issue-block h5,
.my-hotel p,
.caracteristiques p {
        text-align: left;
}

.foot-liens a:nth-of-type(2n) {
    text-align: right;
}

/* wrapper */

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.wrapper-section {
    padding:60px 0;
}

.wrapper-img {
    overflow: hidden;
}

/* uppercase */

.home-page h1,
.nav-links a {
    text-transform: uppercase;
}

/*les liens */

a {
    text-decoration: none;
}

/* overlay */ 
.overlay {
    background-color: rgba(0,0,0,0.5);
    height:100vh;
    width:100%
}

/* transition */ 

.transition {
    transition: all 0.4s ease-out;
}