/* enlever les margins/paddings des titres */

h1,
h2,
h3,
h4,
h5,
p {
    margin:0;
}

/* font-family */

body, input {
    font-family: $poppins;
}

/* les titres */

h1 {
    font-size: 60px;
    margin: 20px 0;
}

h2 {
    margin:20px 0;
    font-size:36px;
}

h3 {
    font-weight: 300;
}

h5 {
    font-size: 18px;
    margin:10px 0;
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
}

/* font-weight */

.la-cat div,
.les-tags a {
    font-weight: 300;
}

.nav-links a {
    font-weight: 500;
}

span,
.leave-comment h5,
.ban-yellow {
    font-weight: 600;
}

.btn-prices a,
.btn-yellow-hotel a {
    font-weight: 700;
}

/* font-size*/ 

.txt-tags,
.popular-post-col div {
    font-size: 12px;
}

.date-articles,
.contact-info > * div:nth-of-type(2),
.les-tags a,
.popular-post-article h5 {
    font-size: 14px;
}

.leave-comment h5,
.article-txt h2 {
    font-size: 26px;
}

/* text-align */

.btn,
h2,
p,
h5,
.txt-tags,
h4,
h1,
.chemin,
.contact-info i,
.btn-yellow,
.btn-white,
.ban-yellow,
.charlie,
.charlie p {
    text-align: center;
}

.title-home p,
.issue-block p,
.txt-test p,
.not-found p,
.txt-test h5,
.not-found h2,
.prev-articles h5,
.prev-articles p,
footer p,
footer h5,
.issue-block h5,
.my-hotel p,
.caracteristiques p,
.home-page h1,
.col-gauche-blog p,
.info-comment > *,
.popular-post-col h5,
.article-txt h2 {
        text-align: left;
}

.foot-liens a:nth-of-type(2n),
.next > * {
    text-align: right;
}

/* wrapper */

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.wrapper-section {
    padding:60px 0;
}

.wrapper-img {
    overflow: hidden;
}

/* text-transform */

.home-page h1,
.nav-links a {
    text-transform: uppercase;
}

.les-tags a {
    text-transform: none;
}

/*les liens */

a {
    text-decoration: none;
}

/* overlay */ 
.overlay {
    background-color: rgba(0,0,0,0.5);
    height:100vh;
    width:100%
}

/* transition */ 

.transition {
    transition: all 0.4s ease-out;
}

/* les images */ 

img {
    width:100%;
}