/* la navigation tout en haut */

.top-nav {
    @include flex-between;
    padding-top:20px;
    @include responsive {
        padding: 20px 30px 0;
    }
}

.link-left {
    a {
        padding-right: 20px;
    }
}
.link-right {
    a:not(:last-of-type) {
        padding-right: 20px;
    }
}

/* le menu de navigation */ 

.nav-menu {
    @include flex-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
    .logo {
        padding-left: 15px;
    }
    .nav-links {
        padding: 0 15px;
        a {
            padding: 0 10px;
        }
    }
}

@include minitablet {
    .nav-links {
        left:-600px;
        opacity: 0;
        visibility: hidden;
        z-index: -13;
        display: none;
    }
    .nav-links.active {
        display:flex;
        visibility:visible;
        position: absolute;
        flex-direction: column;
        z-index: 13;
        left:-0px;
        opacity: 1;
    }
    .nav-links > * {
        padding:10px 10px 10px 20px!important;
    }
}


/* la side-bar avec le fond noir */

.black-sidebar {
    height:500px;
    position: absolute;
    width:300px;
    z-index: 10;
    left:-300px;
    @include iphone {
        width:150px;
    }
}

@include minitablet {
    .black-sidebar.active {
        left:0px;
    }
}

/* le overlay derrière la side bar */

.overlay-sidebar {
    width: 100%;
    height:500px;
    opacity:0;
    z-index: -10;
    position: absolute;
    top:0;
}

@include minitablet {
    .overlay-sidebar.active {
        opacity: 1;
        display: block;
        z-index: 8;
    }
}

