/* variables font family */

$poppins : 'Poppins', sans-serif;

/* variables pour les couleurs */ 

$jaune: #f8b600;
$lightblack: #222222;
$gray: #f9f9ff;
$bleu: #04091e;
$white: #ffffff;
$lightgray : #e6e6e6;
$darkgray: #a9a9a9;
$black:#000000; 

$overlay: rgba(255,255,255,0.25);
$opacityjaune: RGBA(248,182,0,0.25);
