.blog-page main .wrapper {
    @include flex-between;
    flex-direction: row;
    section:nth-of-type(1) {
        width:80%;
        padding-right:80px;
    }
}

/*********** Section colonne de gauche ***********/


.article-astro {
    img {
        width:100%;
    }
    .article-content > * {
        padding:0 15px;
    }
    .article-content {
        @include flex-between;
        padding-top: 20px;
        .info {
            width:25%;  
            .categorie {
                padding-bottom:15px;
            }
            .info-icon > * {
                display: flex;
                padding:10px 0;
                justify-content: flex-end;
                div {
                    padding-right:15px;
                }
            }
            .link-right {
                padding-top:15px;
                display: flex;
                justify-content: flex-end;
            }
        }
        .article-txt {
            width:80%;
            h2 {
                margin-top: 0
            }
        }
    }
}

/* Block paragraphe avec fond blanc */ 

.p-white {
    padding:20px;
    margin:30px 0;
}

/* Block avec les deux images */ 

.img-block-2 {
    @include flex-between;
}

/* Block avec les deux derniers paragraphe */ 

.paragraphe-2 {
    padding-bottom: 60px;
    p {
        padding-top:20px;
    }
}

/* Block prev post / next post */ 

.prev-next {
    @include flex-between;
    padding:30px 0;
    border-top: 1px solid $lightgray;
    img {
        grid-row: 1 / span 2;
        width: 60px;
        height:60px;
    }
    .prev {
        grid-template-columns: 60px 1fr;
    }
    .next {
        grid-template-columns: 1fr 60px;
        img {
            grid-column: 2 / span 1;
        }
    }
    h5 {
        margin: 0;
    }
}

.prev-next > * {
    display: grid;
    position: relative;
    height:60px;
    align-items: center;
    gap:0 20px;
}

/* Block commentaires */ 

.blog-comments {
    border: 1px solid $lightgray;
    padding:10px 20px;
    .le-commentaire {
        @include flex-between;
        align-items: center;
        margin-bottom:25px;
        .info-comment {
            display: grid;
            grid-template-columns: 60px 1fr;
            gap:0 20px;
            img {
                grid-row: 1 / span 3;
            }
            h5 {
                margin:0;
            }
            p {
                padding-top: 10px;
            }
        }
        .info-comment >*:not(img) {
            padding-bottom: 10px;
        }
    }
    .le-commentaire:nth-of-type(2),
    .le-commentaire:nth-of-type(3) { 
            padding-left:50px;
        
    }
}

/*********** Section colonne de droite ***********/

.side-bar-right {
    border: 1px solid $lightgray;
    margin:60px 0;
    width:30%;
}