
.gray-contact {
    padding-bottom:60px;
    @include responsive {
        padding: 0 30px 60px;
    }
    @include minitablet {
        padding:0 0 60px;
    }
}

/* Section de la Map Google */ 

.la-map {
    border-radius: 10px;
    border: 5px solid white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:500px;
    @include minitablet {
        border: none;
        border-radius: 0px;
    }
    iframe {
        width:100%;
        opacity: 0.5;
    }
}

/* Section des informations de Contact */ 

.all-informations {
    position: relative;
    align-items: center;
    @include flex-between;
    @include responsive {
        flex-direction: column;
        align-items: flex-start;
    }
    @include minitablet {
        padding:0 30px;
    }
    .contact-info {
        width:35%;
        @include responsive {
            margin-bottom: 30px;
            width:100%;
        }
    }
}

.contact-info > * {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding:6px 0;
    @include responsive {
        grid-template-columns: 6% 1fr;
    }
    i {
        grid-row: 1 / span 2;
    }
    div:nth-of-type(1) {
        padding-top:0;
    }
    div {
        padding:4px 0;
    }
}

.send-message {
    float: right;
    position: relative;
    @include minitablet {
        padding: 0 30px;
    }
}