/* Section Popular destinations */

.dest-popular .wrapper > p {
    @include minitablet {
        padding: 0 80px;
    }
}

.all-hotels {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    @include responsive {
        grid-template-columns: 1fr;
        max-width: 100%;
        justify-items: center;
        margin: 0 auto;
    }
    .my-hotel {
        @include responsive {
            width: 70%;
        }
        @include minitablet {
            width: 100%;
            padding:0 20px;
        }
    }
    .title-hotel {
        @include flex-between;
        align-items: center;
        padding:15px 15px 0;
    }
    .map-review {
        padding:0 15px 10px;
    }
    .caracteristiques {
        @include flex-between;
        padding:15px 0;
        margin: 0 15px;
        border-bottom:1px solid $lightgray;
        align-items: center;
    }
    .caracteristiques:last-child {
        padding-bottom: 30px;
        border-bottom: none;
    }
}

.my-hotel:hover {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 25%);
}